<body class="text-center">
  <img class="mb-4" src="/assets/home.jpg" alt="home画像" >
    <h1 class="h3 mb-3 font-weight-normal">新規アカウントを作成</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="mb-3">
        <%= f.label :name, class: "visually-hidden" %>
        <%= f.text_field :name, class: "form-control", placeholder: "アカウント名", autofocus: true, autocomplete: "name" %>
      </div>

      <div class="mb-3">
        <%= f.label :email, class: "visually-hidden" %>
        <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "visually-hidden" %>
        <%= f.password_field :password, id: "pass", class: "form-control", placeholder: "パスワード", autocomplete: "new-password" %>
        <div class="mb-3">
          <input type="checkbox" class= "form-check-input" onChange="document.getElementById('pass').type = (this.checked) ? 'text' : 'password';">
          <label class="form-check-label" for="showPassword">パスワードを表示</label>
        </div>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto mb-3">
        <%= f.submit "新規アカウントを作成", class: "btn btn-success" %>
      </div>
    <% end %>
    <%= link_to '/users/sign_in', class: "btn btn-outline-secondary" do %>
      ログイン
    <% end %>
</body>
